<div class="row">
  <% @articles.each do |article| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div id="article-thumbnail" class="thumbnail">
          <%= link_to image_tag(article.image.url(:medium), data: {src: article.image.url(:medium)}), show_path(id: article.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-article', :class => 'thumbnail'} %>
          <div class="caption">
            <h5><%= article.title %> </h5>
            <span class="label label-primary"><%= link_to article.site_list.first.titleize, tag_path(article.site_list.first) %> </span>
            <p> <i class="pull-left fa fa-clock-o icon-cx"> </i> <%= "há " + time_ago_in_words(article.published_at) %> </p>
            <hr style="margin:8px auto">
            <div class="clearfix" id="tags">
              <% article.tag_list.each do |t| %>
                        <span class="pull-left label label-info">
                            <%= link_to t.titleize, tag_path(t) %>
                        </span>
              <% end %>
            </div>
            <p> Clicks: <%= article.clicks %> </p>
            <hr style="margin:8px auto">
            <div class="btn-group btn-group-lg pull-left">
              <%= link_to '<i class="fa fa-comments-o fa-2x"></i>'.html_safe, comments_path(id: article.id), {:class => 'pull-left btn btn-default btn-responsive fb-comments', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-comments'} %>
              <%= link_to '<i class="fa fa-facebook-square fa-2x"></i>'.html_safe, 'https://www.facebook.com/sharer/sharer.php?u=' + show_url(id: article.id), :onclick => "javascript:(function(ele) { window.open(ele.href, ele.title, 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no')})(this); return false;", :class => 'pull-left btn btn-default btn-responsive facebook-like' %>
			  <%= link_to '<i class="fa fa fa-thumbs-up fa-2x" id="like-btn"></i>'.html_safe, 'https://www.facebook.com/plugins/like.php?href=' + show_url(id: article.id), {'data-action' => 'like', :class => 'pull-left btn btn-default btn-responsive facebook-like', :onclick => "javascript:(function(ele) { window.open(ele.href, ele.title, 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no')})(this); return false;"} %>
			  <%= link_to '<i class="fa fa fa-twitter-square fa-2x"></i>'.html_safe, 'https://twitter.com/share?url=' + show_url(id: article.id), {:class => 'pull-left btn btn-default btn-responsive twitter', 'data-lang' => 'pt', :onclick => "javascript:(function(ele) { window.open(ele.href, ele.title, 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no,height=440px,width=500px')})(this); return false;"} %>
			  <%= link_to '<i class="fa fa fa-google-plus-square fa-2x"></i>'.html_safe, 'https://plus.google.com/share?url=' + show_url(id: article.id), {:class => 'pull-left btn btn-default btn-responsive google-plus', 'data-lang' => 'pt', :onclick => "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"} %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
<div class="row">
  <div class="col-4">
    <%= image_tag("http://placehold.it/728x90", :class => 'img-responsive', :id => 'main-large-ad') %>
  </div>
</div>
